@using Microsoft.Extensions.Configuration;
@inject IConfiguration config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [ADMIN] LSSDVirtual Registration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @{
        if (@User.HasClaim("groups", config["AccessControl:AdminAccess"]))
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">User Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin Index</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ManualRegEntry">Manual Enrolment Entry</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </header>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            { 
                IgnoreBody(); 
            }
            <div style="padding: 25px;">
            <h1>Access denied</h1>
            <p>Sorry, your account is not a member of the appropriate security group(s) for this section.</p> 
            <p>Please return to the <a href="/Index">registration form</a></p>
            </div>
        }
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Living Sky School Division No. 202 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>