@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img alt="LOGO GOES HERE" style="width: 500px; height: 218px; border: 1px;" width="500" height="218" />
        <h1 class="display-4">LSSD Virtual: Distance and Blended learning</h1>
        <p>
            Nullam sodales magna nec erat dignissim pellentesque. Praesent mollis dignissim mauris facilisis mollis. Integer dapibus tellus id est consectetur, vel fringilla leo convallis. Praesent a nibh nibh. Pellentesque condimentum ac metus ac imperdiet. Nullam eu lectus lorem. Ut fermentum dapibus urna quis finibus. Sed sed massa iaculis, vulputate diam eget, volutpat lorem. Nulla id neque vel ipsum aliquet fermentum eget eget diam. In metus ex, tincidunt a tempor in, blandit quis ante. Mauris mattis, lacus quis aliquam semper, orci diam imperdiet tortor, nec faucibus dui eros in diam. Etiam a mi at orci egestas consectetur sit amet faucibus mauris. Duis non lorem eleifend, volutpat magna et, ultrices nunc.
        </p>
        <a href="/Register">Click to start registering a student</a>
    </div>
