@page
@model LSSDDistanceEdReg.WebFrontEnd.SignoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signing you out...</title>
</head>
<body>
</body>
</html>
