@page "/Thanks"
@model LSSDDistanceEdReg.WebFrontEnd.thanksModel
@{
    ViewData["Title"] = "thanks";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Registration Submitted</h1>
<ul>
    <li>Division Office staff will now complete the enrolment based on the information you provided.</li>
    <li>It may take several business days to complete the enrolment.</li>
    <li>You will receive an email when the registration has been complete.</li>
</ul>
<br/><br/>
<a href="/">Click here to go back to the course list.</a>
