@page
@model LSSDDistanceEdReg.WebFrontEnd.ReportsModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Reports</h1>
<br/>
<ul>
    <li><a asp-page="/Admin/Reports/AllEnrolments">All enrolments on a single page</a></li>
    <li><a asp-page="/Admin/Reports/ByCourse">Enrolments by Course</a></li>
</ul>

